Repository nspcc-dev/neofs-contract, pull requests merged in 2021-07, with the labels that each got.

#102 Fix unstable container methods
  container/container_contract.go
Labels: bug, container

#109 Fix/Do not emit GAS to `proxy` if notary disabled
  alphabet/alphabet_contract.go
Labels: alphabet, bug

#110 netmap: Store block number of current epoch
  netmap/netmap_contract.go
Labels: netmap

#113 Fix Makefile after NNS contract
  Makefile
Labels: bug
