Repository nspcc-dev/neofs-contract, pull requests merged in 2021-12, with the labels that each got.

#190 Fix/Check `NeoFS` role for the next block
  common/ir.go
Labels: bug

#201 reputation: Fix migration routine
  reputation/reputation_contract.go
Labels: bug, reputation

#199 Refactor/Use `storage.RemovePrefix` flag
  subnet/subnet_contract.go
Labels: refactor, subnet

#200 Feat/Provide additional `data` in `Update`
  nns/nns_contract.go
Labels: nns
