Repository nspcc-dev/neofs-contract, pull requests merged in 2021-11, with the labels that each got.

#162 netmap: allow only alphabet calls in `updateState`
  netmap/netmap_contract.go
  tests/netmap_test.go
Labels: netmap

#176 nns: add test for TLD record registration
  tests/nns_test.go
Labels: nns

#186 Doc/Add comments to V2 related checks
  audit/audit_contract.go
  common/transfer.go
  container/container_contract.go
  neofsid/neofsid_contract.go
  netmap/netmap_contract.go
  subnet/subnet_contract.go
Labels: documentation
